<div class="datepicker" class:open="isOpen" class:closing="isClosing">
  <Popover ref:popover bind:open="isOpen" bind:shrink="isClosing">
    <div slot="trigger">
      <slot>
        <a class="calendar-button">
          {formattedSelected}
        </a>
      </slot>
    </div>
    <div slot="contents">
      <div class="calendar">
        <NavBar 
          {month} 
          {year}
          {canIncrementMonth}
          {canDecrementMonth}
          on:monthSelected="changeMonth(event)" 
          on:incrementMonth="incrementMonth(event)"
        />
        <div class="legend">
          {#each dayDict as day}
            <span>{day.abbrev}</span>
          {/each}
        </div>
        <Months 
          {months} 
          {month} 
          {year} 
          {monthIndex}
          on:dateSelected="registerSelection(event)"
        />
      </div>
    </div>
  </Popover>
</div>

<style>

  .datepicker { 
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    overflow: visible;
  }

  .datepicker:before { 
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh;
    background: rgba(0,0,0,0.3);
    opacity: 0; 
    transition: all 231ms linear;
    z-index: 1;
  }

  .datepicker.open:before { 
    visibility: visible;
    opacity: 1; 
  }

  .datepicker.closing:before { 
    visibility: hidden;
    opacity: 0; 
  }

  .calendar-button { 
    padding: 10px 20px;
    border: 1px solid #eee;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .weeks-container { 
    height: 311px;
  }
  
  .calendar { 
    box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    user-select: none;
    width: 100vw;
    padding: 10px;
    padding-top: 0; 
  }
  
  @media (min-width: 480px) { 
    .calendar { 
      height: auto; 
      width: 320px;
      max-width: 100%;
    }
  }
  
  .legend { 
    color: #4a4a4a;
    padding: 10px 0;
    margin-bottom: 5px;
  }
  
  .legend span { 
    width: 14.285714%;
    display: inline-block;
    text-align: center;
  }

  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height:30px;
  }
  
  .flex-item {
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    flex: 1 0 auto;
    height:auto;
    display: flex; 
  }
  
  .flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
  }
  
  .flex-item-inner { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
</style>

<script>
  import { dayDict, monthDict } from './lib/dictionaries';
  import { getMonths } from './lib/helpers';
  import { formatDate } from 'timeUtils';

  let today = new Date();
  export default { 
    data() { 
      let today = new Date(); 
      return { 
        today,
        dayDict,
        format: '#{m}/#{d}/#{Y}',
        start: new Date(1987, 9, 29), 
        end: new Date(2020, 9, 29),
        selected: today, 
        dateChosen: false,
        month: today.getMonth(), 
        year: today.getFullYear()
      }
    },
    computed: { 
      months: ({start, end}) => getMonths(start,end),
      monthIndex:  ({month,year,months}) => { 
        for(let i = 0; i < months.length; ++i) { 
          if(months[i].month == month && months[i].year == year) return i
        }
        return 0; 
      },
      canIncrementMonth: ({monthIndex,months}) => monthIndex < months.length -1,
      canDecrementMonth: ({monthIndex,months}) => monthIndex > 0,
      formattedSelected: ({selected,format}) => formatDate(selected,format)
    },
    methods: { 
      changeMonth(month) { 
        this.set({month});
      },
      incrementMonth(direction) {
        let { canIncrementMonth, canDecrementMonth, month, year } = this.get(); 
        if(direction == 1 && !canIncrementMonth) return;
        if(direction == -1 && !canDecrementMonth) return;
        let current = new Date(year,month,1); 
        current.setMonth(current.getMonth() + direction); 
        this.set({
          month: current.getMonth(),
          year: current.getFullYear()
        })
      },
      registerSelection(selection) { 
        this.refs.popover.close(); 
        this.set({selected: selection.date, dateChosen: true});
      }
    },
    oncreate() { 
      let { selected } = this.get(); 
      this.set({
        month: selected.getMonth(), 
        year: selected.getFullYear()
      });
    },
    components: { 
      Months: './Months.html',
      NavBar: './NavBar.html',
      Popover: './Popover.html'
    }
  }
</script>