<a class='day square-box'
  href='#day' 
  role='button' 
  style="width: {seventh}px; height: {seventh}px"
  aria-label='{date}'
  class:empty="date == null"
>
  <div class="circle square-content">
    <div>
      <span>
        {#if date != null}
          {date.getDate()}
        {:else}
          0
        {/if}
      </span>
    </div>
  </div>
</a>

<style>
  .day { 
    user-select: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  .square-box {
    position: relative;
    width: 14.285714%;
    overflow: hidden;
  }
  .square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .square-content{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .square-content div {
    display: table;
    width: 100%;
    height: 100%;
    padding: 5%;
  }
  .square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .circle { 
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    height: 100%; 
    width: 100%; 
  }
  .day:not(.empty):hover .circle { 
    display: inline-block;
    border: 1px solid #eee;
  }
  .day.empty { 
    background: none;
    color: rgba(0,0,0,0);
  }
</style>

<script>
  export default { 
    computed: { 
      seventh: ({w,h}) => w/7
    }

  }
</script>