<div class="months-container">
  {#each currentMonth.weeks as week}
    <Week days={week.days} on:dateSelected />
  {/each}
  <!-- {#each visibleMonths as month}
    <div class="month" style="transform: translateX({translateX})">
      {#each month.weeks as week}
        <Week days={week.days} />
      {/each}
    </div>
  {/each} -->
</div>

<style>
  .months-container { 
    width: 100%;
    white-space: nowrap;
    display: inline-block;
  }
  .month { 
    display: inline-block; 
    width: 100%;
    vertical-align: top;
    transition: all 320ms cubic-bezier(0.720, 0.110, 0.460, 1.145);
    transform: translateX(0);
  }

</style>

<script>
  import { monthDict } from './lib/dictionaries'; 

  export default { 
    data() { 
      return { 
        monthDict
      }
    }, 
    computed: { 
      currentMonth: ({monthIndex,months}) => months[monthIndex]
    },
    components: { 
      Week: './Week.html'
    }
  }
</script>