<svelte:window bind:innerWidth />
<div class="popover" ref:popover>
  <div class="trigger" on:click="open()">
    <slot name="trigger">
    </slot>
  </div>
  <div 
    class="contents-wrapper" 
    class:visible="open"
    style="transform: translate(-50%,-50%) translate({translateX}px, {translateY}px)" 
    ref:contents>
    <div class="contents">
      <div class="contents-inner">
        <slot name="contents">
        </slot>
      </div>
    </div>
  </div>
</div>

<style>
  .popover { 
    position: relative;

  }

  .trigger { 

  }

  .contents, .contents-wrapper { 
    transition: all 200ms cubic-bezier(.92,.09,.18,1.05);
  }

  .contents-wrapper { 
    transform: translate(-50%, -50%); 
    position: absolute;
    top: 50%; 
    left: 50%; 
    visibility: hidden; 
    transition: none;
    z-index: 2;
  }

  .contents { 
    background: #fff;
    box-shadow: 0px 10px 26px rgba(0,0,0,0.4) ;
    opacity: .8; 
    transform: scale(.7, 0);
    padding: 10px;
    padding-top: 0;
  }

  .contents-inner { 
    opacity: 0;
    transition: opacity 250ms linear;
    transition-delay: 280ms;
  }

  .contents-wrapper.visible .contents { 
    visibility: visible;
    opacity: 1; 
    transform: scale(1);
  }

  .contents-wrapper.visible .contents-inner { 
    opacity: 1; 
  }

</style>

<script>

  function checkIfFocusLost(evt) { 
    let { open } = this.get(); 
    if(!open) return;
    let el = evt.target;
    do {
      if(el == this.refs.popover) return false;
    } while(el = el.parentNode)
    this.set({open: false});
  }; 

  export default { 
    oncreate() { 
      document.addEventListener('click',checkIfFocusLost.bind(this)); 
    }, 
    data() { 
      return { 
        open: false,
        translateY: 0,
        translateX: 0
      }
    },
    computed: { 
      something: ({w,h}) => console.log(w,h)
    },
    methods: { 
      getTranslate() { 
        let { contents } = this.refs;
        let { translateX, translateY } = this.get(); 
        let boundingRect = contents.getBoundingClientRect()
        let distToTop = boundingRect.top - translateY; 
        let wWidth = window.innerWidth;
        let wHeight = window.innerHeight;
        let width = contents.offsetWidth; 
        let height = contents.offsetHeight;
        translateY = distToTop < 0 ? Math.abs(distToTop) : 0
        return { translateX, translateY }  
      },
      open() { 
        let translate = this.getTranslate()
        this.set({open: true, ...translate});
      },
      close() { 
        this.set({open:false});
      }
    },
    ondestroy() { 
      document.removeEventListener('click', checkIfFocusLost);
    }
  }
</script>