<div class="week">
  {#each days as day}
    <div 
      class="day" 
      class:outside-month="!day.partOfMonth"
      class:is-today="day.isToday"
      class:is-disabled="!day.selectable"
    >
      <button 
        class="day--label" 
        class:selected="datesAreSameDay(day.date,selected)"
        on:click="fire('dateSelected',day.date)"
        disabled="{!day.selectable}"
      >
        {day.date.getDate()}
      </button>
    </div>
  {/each}
</div>

<style>
  .week { 
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
  }
  .day { 
    margin: 2px;
    color: #4a4a4a;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    flex: 1 0 auto;
    height: auto;
    display: flex; 
    flex-basis: 0;
  }
  .day.outside-month, 
  .day.is-disabled { 
    opacity: 0.5;
  }
  .day:before { 
    content: '';
    float: left;
    padding-top: 100%;
  }
  .day--label { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%; 
    margin: 10%;
    padding: 0;
    align-items: center;
    background: none;
    cursor: pointer;
    transition: all 100ms linear;
  }
  .day--label[disabled] { 
    cursor: not-allowed;
  }
  .day--label:not([disabled]):hover { 
    background: #efefef;
    border-color: #efefef;
  }
  .day--label.selected:hover,
  .day--label.selected { 
    border-color: #f7901e;
    background: none;
  }
  .day.is-today .day--label, 
  .day.is-today .day--label:hover { 
    color: #fff;
    opacity: 1; 
    background: #f7901e;
  }
</style>

<script>
  export default { 
    helpers: { 
      datesAreSameDay(a,b) {
        return a.getDate() == b.getDate() 
          && a.getMonth() == b.getMonth()
          && a.getFullYear() == b.getFullYear()
      }
    }
  }
</script>