<div class="week">
  {#each days as day}
    <div 
      class="day" 
      transition:fade
      class:outside-month="!day.partOfMonth"
      class:is-today="day.isToday">
      <div class="day--label" on:click="fire('dateSelected',day)">
        {day.date.getDate()}
      </div>
    </div>
  {/each}
</div>

<style>
  .week { 
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
  }
  .day { 
    margin: 2px;
    color: #4a4a4a;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    flex: 1 0 auto;
    height: auto;
    display: flex; 
    flex-basis: 0;
  }
  .day.outside-month { 
    opacity: 0.5;
  }
  .day:before { 
    content: '';
    float: left;
    padding-top: 100%;
  }
  .day--label { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%; 
    margin: 10%;
  }

  .day--label:hover { 
    cursor: pointer;
    border-color: #f7901e;
  }
  .day.is-today { 
    color: #fff;
  }
  .day.is-today .day--label { 
    opacity: 1; 
    background: #f7901e;
  }
</style>

<script>
  import { fade } from 'svelte-transitions';

  export default {
    transitions: { fade }
  }
</script>